
    <!--Cabeçalho-->

  <app-nav-bar></app-nav-bar>

    <!--banner-->

  <app-banner></app-banner>

    <!--grade de filmes--><!--Seletor--><!--card de filmes-->

  <app-grade></app-grade>

    <!--paginação-->

  <app-pagination></app-pagination>

    <!--rodapé-->

    <app-footer></app-footer>

    <!--<script src="./Src/scripts/add-bloco.js" type="text/javascript"></script>
    <script src="./Src/scripts/remove-bloco.js" type="text/javascript"></script>
    <script src="./Src/scripts/banner.js" type="text/javascript"></script>
    <script src="./server.js" type="text/javascript"></script>-->

