/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

/*Navbar*/

/*banner*/

/*Separador*/

/*footer*/



