<div class="bg-image">
        <div>
            <div class="container">
              <div class="logo"><img src="./assets/eldorado.png"></div>
              <div><i class='bx bxs-user-pin'></i>Login</div>
              <div class="mid-nav">
                <div><i class='bx bx-home'></i>Home</div>
                <div><i class='bx bx-movie' ></i>Meus filmes</div>
                <div class="search"><i class='bx bx-search-alt-2'></i>
                    <input type="text" class="search-input" placeholder="Search">
                </div>
              </div>
            </div>
        </div>
    </div>
