

<div class="bg">

  <div class="col">
    <div>
      <img src="/assets/eldorado.png"/>
      <h4 class="title">A maior plataforma de videos online da internet!</h4>
    </div>

    <div class="col-1">

      <i class='bx bxs-edit-alt'></i>
      <h3 class="text-center">Cadastre-se!</h3>

      <form (ngSubmit)="login()">

        <div>
          <input type="text" class="form-control" placeholder="Nome do usuário" [(ngModel)]="usuario" name="usuario"/>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="senha" name="senha"/>
        </div>

        <button type="submit" class="btn">Cadastre-se</button>
      </form>
      </div>
      <div class="col-1">

        <i class='bx bx-log-in'></i>
        <h3>Faça seu login!</h3>

        <form (ngSubmit)="login()">
          <div>
            <input class="form-control" placeholder="Nome do usuário" [(ngModel)]="usuario" name="usuario"/>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="senha" name="senha"/>
          </div>

          <button type="submit" class="btn">Login</button>
        </form>

      </div>

  </div>
</div>
<app-footer></app-footer>

