<footer class="footer">
  <div class="f-container">
      <div class="footer-row">

          <div class="footer-col">
              <h1>Sigam nossas Redes Sociais!</h1>
          </div>

          <div class="footer-col">
              <h1><i class='bx bxl-instagram' ></i>Instagram</h1>
          </div>
          <div class="footer-col">
              <h1><i class='bx bxl-facebook-square'></i>Facebook</h1>
          </div>

          <div class="footer-col">
              <h1><i class='bx bxl-twitter' ></i>Twitter</h1>
          </div>
      </div>
      <div>
          <h2>Created by Paulo Bittencourt</h2>
      </div>
  </div>
